.padre{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


.hijo {
    position: absolute;
    z-index: -1; /* Para que esté detrás del contenido */
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px; /* Ajusta el tamaño según tus necesidades */
    background-color: #ff5722; /* Color de fondo del círculo */
    border-radius: 50%; /* Para hacerlo circular */
    left: 0; /* Posición a la izquierda de la sección */
    top: 60px; /* Posición desde la parte superior de la sección */
}