/* ================ RESETS =============== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--colorFondo);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--colorTitulos);
    border-radius: 6px;
}




a {
    text-decoration: none;
}

a.visited {
    color: var(--colorFondo);
}

a:active {
    color: var(--colorTitulos);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* ================ VARIABLES =============== */

:root {
    /* ============ COLORES == */
    --colorFondo: #FEEEE9;
    --colorRelleno: #F1D4CE;
    --colorTitulos: #002441;


    /* ============ TIPOGRAFIAS == */
    --fontTitulo: 'League Spartan', sans-serif;
    --fontNavbar: 'Poppins', sans-serif;
    --fontDetalles: 'Radley', serif;

    /* ============ TAMAÑOS == */
    --fontSize_titulo: 3rem;
    --fontSize_navbar: 2rem;
    --fontSize_texto: 1rem;
}



/* ================ LandingPage =============== */
.containerPrincipal {
    position: relative;
    height: 100vh;
}


/* ================ MENU =============== */
.containerPrincipal .menu img {
    width: 200px;
    height: 70px;
}

.menu {
    top: 0;
    position: fixed;
    z-index: 999;
    margin-top: 80px;
    width: 250px;
    height: 80%;
    /* border: 1px solid slateblue; */
    padding-left: 20px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.containerPrincipal .menu div>a {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_navbar);
    font-weight: 500;
    color: var(--colorTitulos);
    padding: 1rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.containerPrincipal .menu .navbar>a:hover {
    background-color: var(--colorRelleno);
    color: var(--colorTitulos);
    transform: scale(1.1);
    transition: .3s;
    border-radius: 1rem;
}

.containerPrincipal .menu nav>a {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_navbar);
    font-weight: 500;
    color: var(--colorTitulos);
    padding: 1rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.containerPrincipal .menu nav>a:hover {
    background-color: var(--colorRelleno);
    color: var(--colorTitulos);
    border: 1px solid;
    transform: scale(1.1);
    transition: .5s;
    border-radius: 1rem;
}

.navbar {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 450px;
    justify-content: space-evenly;
}

.containerRedes {
    display: flex;
    gap: 20px;
}

.fa-linkedin,
.fa-github {
    font-size: 30px;
}

.containerRedes .enlaces {
    transition: box-shadow 0.4s;
}

.containerRedes>.enlaces:hover {
    box-shadow: 0 0 20px 5px #F1D4CE;
}



/*======= LADO DERECHO */

.home {
    height: 100vh;
    padding-top: 20px;
}

.fixedContainer {
    background-color: var(--colorRelleno);
    border-radius: 40px;
    margin: 60px 60px 260px 260px;
    position: fixed;
    top: 0;
    width: calc(99% - 260px);
    /* Resta el ancho del menú para que el contenedor ocupe el espacio restante */
    height: 100vh;
    overflow-y: auto;
    /* Agrega un desplazamiento vertical si el contenido es más largo que la altura del contenedor */

}

.cv {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;

    width: 90%;
    margin-top: 70px;
    font-size: 6rem;
}

.fixedContainer .home .cv a {
    color: #002441;
    filter: drop-shadow(9px 9px 5px #edb8ae);

}

.fixedContainer .home .cv a:hover {
    color: var(--colorTitulos);
    transform: scale(1.4);
    transition: .5s;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 47vh;
    gap: 90px
}

#titulo {
    font-family: var(--fontTitulo);
    font-size: 11rem;
    font-weight: 600;
    color: var(--colorTitulos);
}

hgroup h2 {
    font-family: var(--fontTitulo);
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--colorTitulos);
}

#tituloHola {
    font-family: var(--fontTitulo);
    font-size: 11rem;
    font-weight: 600;
    color: var(--colorTitulos);

}

.experienciaCv {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    width: 90%;
    margin-top: 100px;
    margin-left: 50px;
    padding: 10px;

    font-size: var(--fontSize_titulo);
    font-family: var(--fontNavbar);
}

/* ============== SOBRE MI */

.sobreMi{
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobreMiUno {
    justify-content: flex-start;
    gap: 80px;
}

.cocoonSobreMi {
    background-color: var(--colorFondo);
    border: 3px solid black;
    border-radius: 40px;
    width: 80%;
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.sobreMiUno img {
    width: 350px;
    height: 350px;
}

.infoSobreMi {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.sobreMiUno h2 , .sobreMiDos h2 , .sobreMiTres h2 {
    font-family: var(--fontTitulo);
    font-size: 11rem;
    font-weight: 600;
    color: var(--colorTitulos);
}

.textoSobreMi {
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: 2.5rem;
    /* text-align:left; */

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.videoCv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoConocerme {
    font-family: var(--fontNavbar);
    font-weight: 900;
    color: var(--colorTitulos);
    font-size: 2.5rem;
}


/*==== /* TAB Modo Personal & Técnico*/


.sobreMiDos {
    gap: 70px;
    border: 1px solid transparent;
    margin-bottom: 300px;
}

.tabInfo {
    width: 80%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
}

.tabs {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    border: 2px solid;
}

h3 {
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--fontNavbar);
    font-size: 3rem;
    width: 400px;
}

.tab-content {
    padding: 50px 40px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    border: 2px solid;
}

.tab-content h4 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--colorTitulos);
    font-family: var(--fontNavbar);
    font-weight: 600;
}

.tab-content p {
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: 2rem;
    /* text-align: justify; */
    line-height: 1.9;
    letter-spacing: 0.8px;
    color: #202238;
}

.floresSpan{
    font-weight: bold;
}

.textoCentrado{
    text-align: center;
}

.tab-content div {
    display: none;
}

.tab-content .active {
    display: block;
}

.tabs .active {
    background-color: var(--colorTitulos);
    color: var(--colorFondo);
    border-radius: 40px;
    padding: 9px;
    width: 350px;
}


/* duras blandas */

.sobreMiTres {
    border: 1px solid transparent;
    margin-top: 450px;
    gap: 70px;
}

.tabs1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    padding: 15px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    border: 2px solid;
}

.tab-content1 {
    padding: 50px 40px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    border: 2px solid;
}

.tab-content1 h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
}

.tab-content1 p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tab-content1 div {
    display: none;
}

.tab-content1 .active1 {
    display: block;
}

.tabs1 .active1 {
    background-color: var(--colorTitulos);
    color: var(--colorFondo);
    border-radius: 40px;
    padding: 17px;
    width: 350px;
}


/* EXPERIENCIA */
.tab-container {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    width: 80%;
    border-radius: 40px;
    background-color: var(--colorFondo);
    display: flex;
}

.tab-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    padding: 15px;
}

.tab-list-item {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--fontNavbar);
    font-size: 2rem;
    width: 150px;
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}

.tab-content3 {
    padding: 50px 40px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.tab-content-heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
}

.tab-content-paragraph {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tab-content-item {
    display: none;
}

.tab-content-item.active3 {
    display: block;
}

.tab-list-item.active3 {
    background-color: var(--colorTitulos);
    color: var(--colorFondo);
    border-bottom: 3px solid var(--colorFondo);
}

/*================= Proyecto*/
.card {
    border: 2px solid var(--colorTitulos);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.cardImg img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*================= CONTACTO */
.contactoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    padding: 4rem;
    width: 100%;
    height: 100vh;
}

/* Title form */
.contactoContainer_title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contactoContainer_title h2 {
    font-family: var(--fontTitulo);
    font-size: 9rem;
    font-weight: 600;
    color: var(--colorTitulos);
}


/* Form */
.contactoContainer_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

.contactoContainer_form-input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    border: 2px solid #002441;
    border-radius: 12px;
    padding: 10px;
}

.contactoContainer_form-input label {
    font-family: var(--fontDetalles);
    font-size: 2rem;
    font-weight: 600;
}

.contactoContainer_form-input input {
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    border: none;

    outline: none;
    background-color: transparent;

    font-family: var(--fontDetalles);
    font-size: 2rem;
}

.contactoContainer_form-input textarea {
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    border: none;
    border-bottom: 2px solid var(--colorTitulos);
    outline: none;
    background-color: transparent;
    overflow: hidden;

    font-family: var(--fontDetalles);
    font-size: 2rem;
}

.contactoContainer_form-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 600px;
}

.contactoContainer_form-btn button {
    background-color: transparent;
    margin: 1rem 0 1rem 0;
    padding: 1.5rem 3rem;
    border: 2px solid var(--colorTitulos);
    border-radius: 1rem;
    cursor: pointer;
    font-family: var(--fontDetalles);
    font-size: 2rem;
    color: var(--colorTitulos);
    width: 30%;
    border: 2px solid black;
}

.contactoContainer_form-btn button:hover {
    background-color: var(--colorTitulos);
    color: var(--colorFondo);
    transition: .3s;
}

#mensajeForm {
    font-size: 2rem;
    background: transparent;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    opacity: 0;
}