:root {
    /* ============ COLORES == */
    --colorClaro: #FEEEE9;
    --colorOscuro: #F1D4CE;
    --colorTitulos: #002441;


    /* ============ TIPOGRAFIAS == */
    --fontTitulo: 'League Spartan', sans-serif;
    --fontNavbar: 'Poppins', sans-serif;
    --fontDetalles: 'Radley', serif;

    /* ============ TAMAÑOS == */
    font-size: 16px;
    --fontSize_tituloppal: 6rem;
    --fontSize_subtituloppal: 2rem; 

    --fontSize_titulo: 6rem;

    --fontSize_subtitulo: 1.5rem;
    --fontSize_subtituloh4: 1.2rem;
    --fontSize_navbar: 1.2rem;

    --fontSize_texto: 0.35rem;

    --fontSize_parrafos: 1.3rem;
    --SizeMenu: 15rem;
    --SizeNavbar: 3.5rem;
}

/* RESETEO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body {
    background-color: var(--colorClaro);
    margin: 0px;
    padding: 0px;
}

main {
    /* Formato de la página */
    /* margin: 60px 60px 0px var(--SizeMenu); */
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--colorOscuro);
}

.fixedContainer {
    border-radius: 40px;
    margin: 40px 60px 260px 260px;
    position: fixed;
    /* top: 0; */
    width: calc(97% - 260px);
    /* Resta el ancho del menú para que el contenedor ocupe el espacio restante */
    height: 100vh;
    overflow-y: auto;
    /* Agrega un desplazamiento vertical si el contenido es más largo que la altura del contenedor */
}

.fixedContainer section{
    border: 1px solid transparent;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: var(--colorTitulos);
    border-radius: 6px;
}


/* MENU CONTAINER */
.menuContainer {
    /** Tiene que concidir con el margin-left del main**/
    width: var(--SizeMenu);
    height: 100%;
    position: fixed;
    background-color: var(--colorClaro);
    padding-top: 40px;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;

    transition: width 400ms ease;
}

.menuContainer .imgInactive img {
    width: 200px;
    height: 70px;
    display: none;
}

.menuContainer .imgActive img {
    width: 110px;
    height: 60px;
}

.menuContainer .navbar .navbarNav .navItem {
    width: 100%;
    /* background-color: rgb(209, 223, 212); */
}

/* MENU ANIMACIONES */
.menuContainer:hover {
    width: 20rem;
    height: 100%;
    z-index: 1000;
}

.menuContainer:hover .imgInactive img {
    display: block;
}

.menuContainer:hover .imgActive img {
    display: none;
}


.navbarNav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}


.navRedes {
    margin-top: 100px;
    display: flex;
    width: var(--SizeMenu);
}

.navbarRedes {
    display: flex;
    justify-content: center;
    gap: 40px;

    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navLink {
    height: var(--SizeNavbar);
    text-decoration: none;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Animaciones Menu */
.linkText {
    display: none;
    /* Solo los iconos */
}

.menuContainer:hover .linkText {
    display: block;
    /* Iconos y texto*/
}

.menuContainer .navRedes .navbarRedes .navItem>a {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_navbar);
    font-weight: 500;
    color: var(--colorTitulos);
    padding: 0.5rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.menuContainer .navbarNav .navItem>a {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_navbar);
    font-weight: 500;
    color: var(--colorTitulos);
    /* padding: 1rem; */
    border-radius: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.menuContainer .navbarNav .navItem>a:hover {
    background-color: var(--colorOscuro);
    color: var(--colorTitulos);
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 5px 5px;
    transform: scale(1.1);
    transition: .5s;

}

.menuContainer .navbarNav .navItem .fa-solid {
    font-size: 1.7rem;
}

.fa-brands {
    font-size: 30px;
}

.navRedes .navbarRedes .navItem .navLink {
    transition: box-shadow 0.4s;
}

.navRedes .navbarRedes .navItem>.navLink:hover {
    box-shadow: 0 0 20px 5px #F1D4CE;
}


/*=================== HOME */

.home {
    height: 100vh;
}

/* CV */
.cv {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;

    width: 90%;
    margin-top: 30px;
    font-size: 4rem;
    padding: 30px;
}

.fixedContainer .cv a {
    text-decoration: none;
    color: #002441;
    filter: drop-shadow(9px 9px 5px #edb8ae);
}

.fixedContainer .cv a:hover {
    color: var(--colorTitulos);
    transform: scale(1.4);
    transition: .5s;
}

/* Titulos */

.containerTitulosPpales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.containerSaludo{
    display: flex;
    align-items: center;
    gap: 30px;
}

.fullStack{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.containerTitulosPpales .containerSaludo figure{
    max-width: 280px;
}

.containerTitulosPpales .containerSaludo figure img{
    width: 100%;
}


.titulo {
    font-family: var(--fontTitulo);
    font-size: var(--fontSize_tituloppal);
    font-weight: 800;
    color: var(--colorTitulos);
}

.containerTitulosPpales h2 {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_subtituloppal);
    font-weight: 400;
    color: black;
}

.experienciaCv {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    width: 90%;
    margin-top: 180px;
    margin-left: 50px;
    padding: 10px;

    font-size: var(--fontSize_subtitulo);
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
}

/*=================== SOBRE MI */
.sobreMi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.sobreMiUno {
    gap: 80px;
    justify-content: center;
}

.sobreMiUno  .infoSobreMi img {
    max-width: 350px;
}

.infoSobreMi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;

    background-color: var(--colorClaro);
    border: 3px solid var(--colorTitulos);
    box-shadow: 5px 5px var(--colorTitulos);
    border-radius: 40px;

    padding: 60px;
    max-width: 1200px;
    margin: 0 60px;
}

.sobreMiUno h2,
.sobreMiDos h2,
.sobreMiTres h2,
.sobreMiCuatro h2,
.proyectos h2 ,
.contactoContainer h2{
    font-family: var(--fontTitulo);
    font-size: var(--fontSize_titulo);
    font-weight: 600;
    color: var(--colorTitulos);
}

.textoSobreMi {
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: var(--fontSize_parrafos);

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.textoPyFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.textoSobreMi .textoPyFoto img{
    width: 100px;
}

.videoCv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.videoCv span a{
    text-decoration: none;
    color: var(--colorTitulos);
}


.textoPrimerP {
font-weight: 500;
font-size: 1.6rem ;
}

.infoConocerme {
    font-family: var(--fontNavbar);
    font-weight: 400;
    color: var(--colorTitulos);
    /* font-size: var(--fontSize_texto); */
    font-size: var(--fontSize_parrafos);
}

.videoCv span{
    font-weight: 600;
}


/*=================== SOBRE MI DOS (Tec-personal)*/
.sobreMiDos {
    border: 1px solid transparent;
    margin-bottom: 300px;
}

.tabInfo {
    width: 80%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
}

.tabs,
.tabs1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    padding: 9px;
    background-color: var(--colorClaro);
    border-radius: 40px;
    border: 2px solid;
    box-shadow: 5px 5px;
    color: var(--colorTitulos);
}

.tabs h3,
.tabs1 h3,
.tabInfo h3 {
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_subtitulo);
    width: 400px;
}

.tab-content,
.tab-content1 {
    padding: 50px 40px;
    background-color: var(--colorClaro);
    border-radius: 40px;
    border: 2px solid;
    box-shadow: 5px 5px;
}

.tab-content h4,
.tab-content1 h4 {
    font-size: var(--fontSize_subtitulo);
    margin-bottom: 20px;
    color: var(--colorTitulos);
    font-family: var(--fontNavbar);
    font-weight: 600;
}

.tab-content p,
.tab-content1 p {
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: var(--fontSize_parrafos);
    /* text-align: justify; */
    line-height: 1.9;
    letter-spacing: 0.8px;
    color: #202238;
}

.floresSpan {
    font-weight: bold;
}

.textoCentrado {
    text-align: center;
}

.tab-content div,
.tab-content1 div {
    display: none;
}

.tab-content .active,
.tab-content1 .active1 {
    display: block;
}

.tabs .active,
.tabs1 .active1 {
    background-color: var(--colorTitulos);
    color: var(--colorClaro);
    border-radius: 40px;
    padding: 9px;
    width: 350px;
}


.active1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills{
    padding: 2rem 1rem;
    min-width: 80px;
    /* background-color: var(--colorOscuro); */
    border-radius: 10px;
    border: 2px solid var(--colorTitulos);
    box-shadow: 5px 5px 0 var(--colorTitulos);
    background-color: #f3f3f3;

    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    width: 130px;
    gap: 20px;
}

.skills figcaption{
    text-align: center;
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: 1rem;
}


.florBlandas img{
    height: 25px;
    width: 45px;
}

.softSkills{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 15px;
}


/*=================== SOBRE MI TRES (Hard-soft) */
.sobreMiTres {
    border: 1px solid transparent;
    /* margin-top: 450px; */
}

/* EXPERIENCIA */
.tab-container {
    width: 80%;
    border-radius: 40px;
    border: 2px solid;
    box-shadow: 5px 5px;
    background-color: var(--colorClaro);
    display: flex;
}

.sobreMi .tab-container .tab-list .tab-list-item>img {
    width: 100%;
}

.tab-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    padding: 15px;
}

.tab-list-item {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--fontNavbar);
    font-size: 2rem;
    width: 150px;
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}

.tab-content3 {
    padding: 50px 40px;
    background-color: var(--colorFondo);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.tab-content-heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
}

.tab-content-paragraph {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tab-content-item {
    display: none;
}

.tab-content-item.active3 {
    display: block;
}

.tab-list-item.active3 {
    background-color: var(--colorOscuro);
    color: var(--colorFondo);
    border-radius: 10px;
}

/* SOBRE MI 4 */

.sobreMiCuatro{
        margin-top: 350px;
}

.proyectos{
    margin-top: 250px;
}

/*================= Proyecto*/



.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--colorClaro);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    border-radius: 6px;
}

.cardImg img {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}


.card .cardInfo,
.cardPequeña .cardInfo {
    padding: 30px;
    margin: 10px;
}

.proyectosChicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.cardPequeña {
    background-color: var(--colorClaro);
    width: 36%;
    margin-bottom: 130px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    border-radius: 6px;
}

.card .cardInfo h3 {
    font-weight: 700;
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_subtitulo);
    color: var(--colorTitulos);
    margin-bottom: 20px;
}

.trabajoEquipo>a {
    text-decoration: none;
}

.cardPequeña .cardInfo h3 {
    font-weight: 600;
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_subtitulo);
    color: var(--colorTitulos);
    margin-bottom: 20px;
    margin-right: 20px;
}

.titular h3 {
    display: inline-block;
}

.titular {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tecnologias {
    margin-left: 20px;
}

.tecnologias p {
    display: inline-block;
    font-family: var(--fontNavbar);
    font-weight: 500;
    border-radius: 1rem;
    background-color: var(--colorOscuro);
    color: var(--colorTitulos);
    border: 2px solid;
    padding: 2px 10px 2px 10px;
    margin: 0px 3px;
}

.trabajoEquipo {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.trabajoEquipo a {
    display: inline-block;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: center;

    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: var(--fontSize_subtitulo);

}

.trabajoEquipo a img {
    width: 30px;
    height: 30px;
}

.proyectosParrafo {
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-size: var(--fontSize_subtitulo);
}

.trabajoEquipo .proyectosParrafo {
    font-weight: 600;
}

.cardPequeña .cardInfo .titular {
    display: flex;
    flex-direction: row;

}

.cardPequeña .cardInfo .titular p {
    display: inline-block;
    font-family: var(--fontNavbar);
    font-weight: 500;
    border-radius: 1rem;
    background-color: var(--colorOscuro);
    color: var(--colorTitulos);
    border: 2px solid;
    padding: 2px 10px 2px 10px;
    margin: 0px 3px;

}

.relink {
    position: absolute;
    background-color: aqua;
    opacity: 0;
    transition: .5s;
}

.relink:hover {
    opacity: 1;
}





/*================= CONTACTO */

.contactoYredes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 800px;
    height: 100vh;
}


.contactoYredes .contactoRedes .navItem>a {
    font-family: var(--fontNavbar);
    font-size: var(--fontSize_navbar);
    font-weight: 500;
    color: var(--colorTitulos);
    /* padding: 1rem; */
    border-radius: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.contactoRedes{
display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    border: 2px solid;
    border-radius: 30px;
    box-shadow: 5px 5px;
    background-color: var(--colorClaro);
    min-height: 490px;
    padding: 8px;
    justify-content: space-evenly;
}

.contactoContainer {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.contactoContainerForm {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    min-height: 550px;
    border-radius: 40px;
    overflow: hidden;
    color: var(--colorTitulos);
    font-weight: 500;
    gap: 20px;
}

.NombreEmail {
    display: flex;
    flex-direction: row;
}

.contactoContainerForm input,
.contactoContainerForm textarea {
    border: 0;
    margin: 10px 10px;
    padding: 20px;
    outline: none;
    background: #F1D4CE;
    font-size: 16px;
    border: 2px solid;
    border-radius: 30px;
    box-shadow: 5px 5px;
    background-color: var(--colorClaro);
}

.contactoContainerForm textarea {
    width: 497px;
    height: 258px;
}

.contactoContainerForm textarea:hover, .contactoContainerForm input:hover {
    background:#e4abc556;
}



.contactoBtn {
    padding: 15px;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 20px auto 0;
    background-color: var(--colorClaro);
    border-radius: 40px;
    border: 2px solid;
    box-shadow: 5px 5px;
    color: var(--colorTitulos);
    font-family: var(--fontNavbar);
    font-weight: 500;
    max-width: 500px;
}


::placeholder {
    /* Edge 12-18 */
    color: var(--colorTitulos);
    font-family: var(--fontNavbar);
    font-weight: 600;
    font-style: italic;
}

.containerhechoAmor{
    color: var(--colorClaro);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#hechoAmor{
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-weight: 800;
}

#gracias{
    font-family: var(--fontNavbar);
    color: var(--colorTitulos);
    font-weight: 600;
    font-style: italic;
}

#saludoFinal{
    display: flex;
    gap: 3px;
    align-items: center;
}

.containerhechoAmor img{
    height: 15px;
    width: 25px;
}


.contactoRedes .navItem .navLink  .fa-solid {
    font-size: 30px;
}




















/* RESPONSIVE */
/* @media only screen and (max-width:600px) {
    .menuContainer {
        bottom: 0;
        width: 100vh;
        height: 5rem;
        gap: 0px;
        background-color: azure;
        flex-direction: row;
        align-items: center;
        transition: none;
    }

    .menuContainer .imgActive img {
        display: none;
    }

    .menuContainer:hover .imgInactive img {
        display: none;
    }

    .navbarNav {
        flex-direction: row;
    }

    .navRedes{
        display: none;
    }
} */

/* 
@media only screen and (min-width:600px) {
    .menuContainer {
        width: var(--SizeMenu);
        height: 100vh;
    }


    .menuContainer:hover .linkText {
        display: inline;
    }

} */